@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  @apply h-full w-full font-poppins;
}
body {
  background-color: hsl(0, 100%, 74%);
  background-image: url('./assets/bg-intro-mobile.png');
}
.icon-error {
  background-image: url('./assets/icon-error.svg');
}

@media (min-width: 768px) {
  body {
    background-image: url('./assets/bg-intro-desktop.png');
  }
}